.navbar-brand > img.LOGO {
  height: 50px;
  width: 10%;
  float: left;
}

#gen {
  border: 10px solid;
  padding: 10px 15px;
  background-color: lightblue;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

#LOGO {
  height: 50px;
  width: 10%;
  float: left;
}

.navbar {
  background-color: #557a95;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
}

.chooseplan {
  margin-top: 10%;
  float: center;
  text-align: center;
  list-style-type: none;
}

p {
  font-size: 160%;
}

#seeplans {
  width: 30%;
}

#foryou {
  padding-top: 200px;
  float: left;
  width: 30%;
  text-align: center;
  /* background-color: black; */
  color: white;
  background: url("./cinemaback.jpg");
}

#trending {
  padding-top: 47px;
  margin-left: 30.5%;
  text-align: center;
  padding-bottom: 10px;

  color: white;
  align-content: center;
  background: url("./tapes.jpg");
}

#trending2 {
  margin-left: 30.5%;
  text-align: center;
  background: url("./blueT.jpg");
  color: black;
  font-weight: bolder;
}

body {
  background-color: black;
}

.footer {
  color: #55acee;
  font-size: small;
  float: left;
  margin-right: 6%;
}

hr {
  margin-bottom: 25px;
}
img.socialicons {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.footbutton
{
  color: black;
}

.active{
  background-color: #7e7e7e;
}