.navbar-brand > img.LOGO {
  height: 50px;
  width: 10%;
  float: left;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
}

.navbar {
  background-color: #557a95;
}
#LOGO {
  height: 50px;
  width: 10%;
  float: left;
}
#gen {
  border: 10px solid;
  padding: 10px 15px;
  background-color: lightblue;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #c2cad0;
}

.carousel {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}

.carousel-inner {
  height: 350px;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.gallery {
  margin-top: 25px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 30px;
  border: 1px solid black;
  float: left;
  width: 15%;
  height: 270px;
}
.gallery img {
  width: 100%;
  height: 220px;
}

.movie {
  padding: 15px;
  text-align: center;
  color: black;
}

img.socialicons {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.social {
  text-align: center;
}

.randommovie {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.footer {
  float: left;
  margin-right: 6%;
}

.randombutton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 50%;
}
.randombutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin-bottom: 25px;
}

