.navbar-brand > img.LOGO {
  height: 50px;
  width: 10%;
  float: left;
}
#gen {
  border: 10px solid;
  padding: 10px 15px;
  background-color: lightblue;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
#LOGO {
  height: 50px;
  width: 10%;
  float: left;
}

.navbar {
  background-color: #557a95;
  margin-bottom: 50px;
}
body {
  background-color: #1d1d2c;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
}

.movie {
  padding: 15px;
  text-align: center;
  color: white;
}

.categories {
  margin-bottom: 30px;
  border: 1px solid #eba63f;
  float: left;
  width: 100%;
  height: 320px;
  background: #1d1d2c;
}

p.listc {
  color: white;
  font-size: 25px;
  margin-bottom: 0px;
}

.cross {
  margin-right: 15px;
}



.gallery {
  margin-top: 25px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 30px;
  border: 1px solid #e40c2b;
  float: left;
  width: 15%;
  height: 270px;
}
.gallery img {
  width: 100%;
  height: 220px;
}

.list {
  margin-bottom: 0px;
}

.footer {
  float: left;
  margin-right: 6%;
}



hr {
  margin-bottom: 25px;
}

img.socialicons {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}